    	<footer> <!-- HTML5 footer tag -->

    		<ul>
    			<li><img src="images/twitter.png" alt="" /><a href="http://twitter.com/agiasi">Follow me on Twitter</a></li>
    			<li><a href="http://inspectelement.com/articles/code-a-backwards-compatible-one-page-portfolio-with-html5-and-css3">Back to the Tutorial on Inspect Element</a></li>
                <li><a class="featured" <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> /></a></li>
    		</ul>

    	</footer>	

