<header class="navbar navbar-fixed-top navbar-inverse"> <!-- HTML5 header tag -->

    	<div id="headercontainer">

    		
    			<%= link_to ": )", '#', id: "logo" %>
     			<nav>

        			<ul class="nav pull-right">
			         <li><a class="introlink anchorLink" href="#intro">Intro</a></li>
			          <li><%= link_to "Resume",    '#portfolio',  {:class=>"resLink anchorLink"}%></li>
			          <li><%= link_to "About", '#about',  {:class=>"aboutLink anchorLink"}%></li>
			           <li><%= link_to "Contact", '#contact',  {:class=>"contactLink anchorLink"}%></li>
			        </ul>
			    </div>
     			</nav>
  		

		</div>
   
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js' type='text/javascript'>
</script>
<script type='text/javascript'>
    var dur = 500; // Duration Of Animation in Milli Seconds
    $(document).ready(function() {
        $("a.anchorLink").hover(function() {
            $(this).animate({
                paddingLeft: '50px'
            }, dur);
        }, function() {
            $(this).animate({
                paddingLeft: 0
            }, dur);
        });
    }); // end of Jquery Script


</script>

    </header>